pip install cloudscraper
pip install bs4
pip install colorama
pip install fbtoolsbox
apt install python make wget termux-exec clang libjpeg-turbo freetype -y
env INCLUDE="$PREFIX/include" LDFLAGS=" -lm" pip install Pillow
pip install pytesseract
pip install fake_useragent
pip install faker
