cloudscraper
bs4
colorama
fbtoolsbox
python make wget termux-exec clang libjpeg-turbo freetype -y
env INCLUDE="$PREFIX/include" LDFLAGS=" -lm" pip install Pillow
pytesseract
fake_useragent
faker
requests
pytesseract
cython
rich
requests-toolbelt
